[2015-05-12 10:39] worktycho opened #7 "Add testing builds to the homepage."

[2015-05-12 10:42] bearbin commented on #7
ARM testing builds will have to come soon as well.

I am running into a little bit of an issue with disk space, I may have to upgrade the system to a better VPS soon to add them.

[2015-05-17 19:15] SphinxC0re opened #8 "Add link to plugin repository"
We should also make something like a sticky on the forum

[2015-05-17 19:30] SphinxC0re opened #9 "Add link to newsletter subscription page"

[2015-06-06 15:10] wbrbr commented on #9
Fixed by #10

[2015-06-06 15:11] #9 closed

[2015-06-10 21:03] #8 closed

[2015-06-13 16:01] NAAVOO opened #11 "Update Favicon"
The favicon is the old MCServer icon -> http://cuberite.org/assets/icon_256.png

~Navo

[2015-06-13 16:04] NiLSPACE commented on #11
Well, we don't even have a new logo yet ;) We're still discussing that [here](http://forum.mc-server.org/showthread.php?tid=2000).

[2015-06-13 18:25] navopw commented on #11
Ah ok, i thought this is the new logo -> http://cuberite.org/assets/cuberite2-6.png

[2015-06-13 19:21] bearbin commented on #11
Nope, @SphinxC0re changed it without telling anybody :p

If you have any thoughts on a logo, please do say in the forum thread.

[2015-06-13 19:28] navopw commented on #11
Alright :) Actually i like the logo from @SphinxC0re ^~^
Better than the old MCServer logo :+1:

[2015-06-14 00:28] sphinxc0re commented on #11
Thank you very much, but I have to say that it was not intended by me to set the new logo as a standard all by myself. It is just a test and I wanted to change the Logo every week or so to see which one is the best

[2015-10-23 16:59] SphinxC0re opened #16 "Enlarge Cuberite icon and brand text"

[2015-10-23 17:09] SphinxC0re opened #17 "Rename 'Discuss' to 'Forum'"

[2015-10-23 19:24] #11 closed

[2015-10-27 19:05] NiLSPACE opened #18 "There should be a mention of the cuberite email"
We currently have an email, but it isn't mentioned anywhere except the issue it was created in (cuberite/cuberite#2475).

I think in the support tab there should be a mention of `support@cuberite.org`

[2015-10-27 21:24] mathias-github opened #19 "Brighter color scheme"
<del>The site looks way too dark after I corrected the contrast of my screen (you can't even see the hover effect on buttons well), and others have requested a change as well.</del>

<del>I suggested a green color scheme in this thread (because green is fresh, other server projects don't use the color, and Cuberite's colored icon contains green :P): http://forum.mc-server.org/showthread.php?tid=20

[2015-10-27 21:28] mathiascode commented on #18
If someone replies to emails sent to the email address, I can add this.

[2015-10-27 21:41] mathiascode commented on #18
How does this look? http://final.cuberite.ga/support/

[2015-10-27 21:51] sphinxc0re commented on #18
nice

[2015-10-27 22:00] SphinxC0re opened #20 "The website should mention the IRC channel"

[2015-10-27 22:17] madmaxoft commented on #18
I think the email is more for the cases when something withour infrastructure goes wrong - the forum misbehaves or the domain gets misconfigured. We don't want regular issues on that email. Or do we?

[2015-10-27 22:19] sphinxc0re commented on #18
No, not really. If someones business is on fire, we should be available :smile:

[2015-10-27 22:27] mathiascode commented on #20
I was thinking the IRC channel could be mentioned somewhere on the forum page, since discussions are made there.

[2015-10-27 22:30] sphinxc0re commented on #20
The old website mentioned it

[2015-10-27 23:02] mathiascode commented on #20
How does this look? http://final.cuberite.ga/discuss/

(I need to add an icon)

[2015-10-28 08:27] bearbin commented on #20
`join us on IRC: #cuberite@irc.freenode.net` would seem to me to be a better wording, less quote marks.

[2015-10-28 13:28] mathiascode commented on #20
Does it look better now? http://final.cuberite.ga/discuss/

[2015-10-28 13:30] bearbin commented on #20
It looks fine to me.

On 28 October 2015 at 13:28, Mathias notifications@github.com wrote:

##

Alexander Harkness (bearbin)
Find my GPG key on the Ubuntu Keyserver - http://keyserver.ubuntu.com:11371/
Fingerprint: 93B3 D9D4 E65A CB47 BAF6 57AF 9537 B229 C1FD E7DF

[2015-10-28 14:56] mathias-github opened #21 "Status of donations"
There has been some discussion about Gratipay being broken. Is there another place to make donations at currently, should the donation references be removed completely, or something else?

[2015-10-28 16:16] sphinxc0re commented on #21
https://www.patreon.com/
https://www.bountysource.com/

[2015-10-28 16:22] bearbin commented on #21
Patreon is focused on individual developers, not the project as a whole so would be unsuitable.

Salt by bountysource would seem to be the way forwards.

[2015-10-28 16:47] sphinxc0re commented on #21
For those, who don't know: https://salt.bountysource.com/

[2015-10-28 22:18] SphinxC0re opened #22 "Use a more visible favicon with more contrast"
![cuberite_new_favicon](https://cloud.githubusercontent.com/assets/3702016/10804888/39c689f6-7dca-11e5-9fd0-c63fec125745.png)

[2015-10-28 22:45] sphinxc0re commented on #20
You should leave the background as it is

[2015-10-29 10:27] madmaxoft commented on #21
We already had a team account on bountysource salt: https://salt.bountysource.com/teams/mc-server
Now I need to find out how to remove that, in favor of the new one.

[2015-10-29 10:52] bearbin commented on #21
Acutally, I think that the new account I created is wrong too. We could have https://salt.bountysource.com/teams/cuberite as our name. I've submitted a claim so we can have access, but it might be another day or 2 before it is confirmed.

[2015-10-29 10:55] sphinxc0re commented on #21
Nice! So we'll finally get some money (maybe) and _bountysource_ is kind of reliable.

[2015-10-29 14:54] mathias-github commented on #19
Any thoughts about this?

[2015-10-29 14:57] madmaxoft commented on #19
A bit too green for my taste, but I'm no designer.

[2015-10-29 15:06] mathiascode commented on #19
Actually, let's keep the dark color scheme. The background discussion has been going on for too long.

I created a new pull request where I used a slightly ligher gray color for the background, since the old  looked pitch black on some screens.

This issue can be closed.

[2015-10-29 19:28] mathias-github commented on #22
Addressed in this PR, which is now merged: https://github.com/cuberite/cuberite.github.io/pull/23

[2015-10-29 19:28] mathiascode commented on #20
Fixed in this PR, which is now merged: https://github.com/cuberite/cuberite.github.io/pull/23

[2015-10-29 19:29] mathiascode commented on #18
Fixed in this PR, which is now merged: https://github.com/cuberite/cuberite.github.io/pull/23

[2015-10-29 19:31] mathiascode commented on #17
Fixed in this PR, which is now merged: https://github.com/cuberite/cuberite.github.io/pull/23

The site now has a Discuss-page that contains information about the forum and IRC channel.

[2015-10-29 21:11] #20 closed

[2015-10-29 21:11] #18 closed

[2015-10-29 21:11] #17 closed

[2015-10-29 21:11] #22 closed

[2015-10-30 21:02] bearbin commented on #21
@xoft, I got the team renamed to the correct name. If you want to invite some more contributors we should start advertising it.

[2015-10-30 21:06] sphinxc0re commented on #21
He actually meant @madmaxoft :D

[2015-10-30 21:09] bearbin commented on #21
Derp, sorry. I need to remember usernames better :p

[2015-10-30 22:27] madmaxoft commented on #21
@bearbin I think all of the people who regularly contribute to the server should be invited. However, I have no idea how to do that. The interface available to me doesn't seem to have any such function.

[2015-10-30 22:32] madmaxoft commented on #21
Ah, found it. It is a rather unintuitive web.

[2015-10-31 10:21] mathiascode commented on #21
So, donations will basically cover the web hosting fees?

[2015-10-31 11:13] sphinxc0re commented on #21
Yeah, first of all. After all of them are covered, the rest will be split up equally

[2015-10-31 15:18] bearbin commented on #21
@madmaxoft Could you move the money you are currently giving me for the buildserver over to bountysource, so

[2015-11-02 09:27] SphinxC0re opened #24 "Enlarge page contents"
The current size of the page content font is too small and really hard to read

[2015-11-02 11:14] bearbin commented on #24
What page, or just overall?

What device are you using to view the site?

[2015-11-02 11:15] bearbin commented on #21
Closing, bountysource is now available and linked to from the site.

[2015-11-02 11:15] #21 closed

[2015-11-02 11:24] sphinxc0re commented on #24
I mean the page contents except from the home page are too small.

[2015-11-02 14:13] mathiascode commented on #24
Hm, how large is your screen? I might have to create some @media queries for larger screens as well.

[2015-11-02 14:15] sphinxc0re commented on #24
25" full-hd

[2015-11-02 14:18] mathiascode commented on #24
Understandable. My screen is 14". :P

I'll increase the font sizes for larger screens when I have time.

[2015-11-02 14:19] sphinxc0re commented on #24
okay my home screen is like 27"

[2015-11-02 14:19] mathiascode commented on #24
It's a laptop though.

Thanks for reporting these issues by the way. It helps a lot. :)

[2015-11-02 14:24] sphinxc0re commented on #24
Well, thanks for housekeeping the website ;)

[2015-11-02 14:24] mathias-github opened #25 "Newsletter system"
How does the newsletter system work? Are newletters sent out automatically each week, or are they manually written? I registered my email address on October 27, but I haven't received any emails apart from the confirmation email.

[2015-11-02 14:28] mathiascode commented on #16
I'll fix this when I enlarge the fonts for larger screens.

[2015-11-02 14:28] sphinxc0re commented on #25
ATM @bearbin and me aren't writing any newsletters. Me because I ain't got time for it. Same for @bearbin I guess. We were writing the letters manually. I don't think it is actually possible to generate them.

[2015-11-02 17:15] bearbin commented on #25
The newsletters are written manually, and I've had a bit of a break from the project recently, so I haven't written any.

There haven't been that many major new features recently either, which would have warranted a special newsletter.

[2015-11-02 17:24] sphinxc0re commented on #25
We should change the `1-2 a week` to `1-2 a month`

[2015-11-02 17:29] bearbin commented on #25
Yes, we should. The only reason that it was initially set to 1-2 per week was to avoid irritating people if we did in fact put out that many emails. I'll do it in a few hours.

[2015-11-02 17:31] sphinxc0re commented on #25
Okay, should we then carry on with our schedule? One month you, one month me?

[2015-11-02 21:32] bearbin opened #26 "Link to GitHub not obvious enough."
There is not enough emphasis placed on the link through to our github repo. This is important to attract new contributors so we should make it more prominent.

[2015-11-02 21:34] sphinxc0re commented on #26
Since the cuberite project is FOSS, I totally agree

[2015-11-03 14:42] madmaxoft commented on #25
It would be great if all the newsletters could be archived on the web, so that they can be looked up later.

[2015-11-03 15:52] sphinxc0re commented on #25
We could write the newsletter, send it out and post it on the blog

[2015-11-03 16:50] bearbin commented on #25
@SphinxC0re Yes, that's what we were planning to do :)

[2015-11-20 20:48] #26 closed

[2015-11-21 17:06] SafwatHalaby opened #28 "Mention RaspberryPi"
Many people are here for the Raspberry. Beginners reaching the [homepage](http://cuberite.org/) don't know that the proper raspberryPi download is "ARMv6". I think that the text should be modified to. `ARMv6 (Including Raspberry Pis)`, or something similar.

[2015-11-21 17:20] bearbin commented on #28
ARMv6 may actually be an incorrect description for it - the executable will only actually run on RPi-compatible devices.

[2015-11-21 19:46] #28 closed

[2015-11-21 20:04] mathias-github opened #31 "Remove plugin activation info from plugins.html"
We should remove the information about adding a plugin to a server from plugins.html, and instead add a link to the plugin section in the user's manual, once this PR is merged: https://github.com/cuberite/users-manual/pull/19

[2015-11-22 08:24] SafwatHalaby commented on #31
The PR was merged.

[2015-11-22 08:25] SafwatHalaby opened #32 "Manual is too far down"
The manual should probably be on the top bar, and not the bottom one.

[2015-11-22 13:01] mathiascode commented on #32
Maybe we could place a link below the download buttons? I'd prefer not to add it to the top bar, as a link to the user's manual already exists on the "Support" page.

[2015-11-22 13:18] SafwatHalaby commented on #32
Yes, that would be good.
Perhaps a suitable spot is above the `Github Repository . Compile Cuberite` and below the Windows buttons.

[2015-11-22 13:19] SafwatHalaby commented on #32
I still think the optimal spot is the top bar. For symmetry, you could also put the forums button there as well. Since that is important too.

[2015-11-22 13:20] SafwatHalaby commented on #32
Either way, it's better than being down there.

[2015-11-22 14:34] mathiascode commented on #32
A Forum button was added to the footer since one visitor wanted a direct link to the forum. The link to the forum is on the "Discuss" page, together with information about the IRC channel.

[2015-11-22 14:36] SafwatHalaby commented on #32
The less clicks, the better. I'd replace the current `discuss` with `forums`, and the current `forums` with `IRC`. The exact same amount of buttons is kept. And IRC, being less important than the forum, moves down.

[2015-11-22 14:38] SafwatHalaby commented on #32
What I'm saying is that "Discuss" is totally unneeded. Instead of having a discuss and a forum button, we could have a forum and an IRC button.

[2015-11-22 14:45] SafwatHalaby commented on #32
Closing this and opening a more general issue.

[2015-11-22 14:45] #32 closed

[2015-11-22 14:53] mathiascode commented on #31
#33

[2015-11-22 14:57] LogicParrot opened #34 "Button arrangement"
In my humble opinion, in order to maximize UX, the following buttons should be:
 - Literally 1 click away.
 - Visible without scrolling to footer.

The buttons are:
 - Forum
 - Manual
 - Plugins
 - The download buttons
 - Contribute
 - Compile

Currently, `Forum` and `Manual` do not meet the above criteria. I think this can be achieved by making the following changes:

**Top bar:**
Home, **Forum**

[2015-11-22 15:02] SafwatHalaby commented on #34
There are probably several variations which also meet the criteria. Such as keeping the contribute on top and having 7 items on top. The exact ordering is not my point.

[2015-11-22 15:07] bearbin commented on #34
I agree completely with this. I might even remove the blog, as it is useless at the moment.

[2015-11-22 15:07] #31 closed

[2015-11-22 15:12] SafwatHalaby commented on #34
That would allow us to keep `contribute` on top while still having 6 buttons only.

Also, in the future `NewsLetter` could be renamed to `News`, and it would actually constitute the blog. People would either view it online or subscribe to it by mail.

[2015-11-22 15:15] SafwatHalaby commented on #34
Updated original post according to @bearbin 's suggestion.

[2015-11-22 15:36] mathiascode commented on #34
I agree with this as well. Something like this? http://final.cuberite.ga

[2015-11-22 15:42] bearbin commented on #34
That looks better to me :)

[2015-11-22 15:47] SafwatHalaby commented on #34
Much better!

[2015-11-22 15:59] SafwatHalaby commented on #34
Note that when clicking "news letter", the footer changes.

[2015-11-23 06:55] SafwatHalaby commented on #34
Maybe `news` should also be on the top bar?

[2015-11-23 08:08] sphinxc0re commented on #34
@bearbin could we setup a system where we can post something on the blog and the newsletter is sent automatically?

[2015-11-23 15:49] bearbin commented on #34
It would be quite easy for me to set up archives of the newsletter. I'll add that to my todo list.

[2015-11-24 16:03] SphinxC0re opened #35 "Add actual Raspberry Pi logo"
[RPI_glyph.pdf](https://github.com/cuberite/cuberite.github.io/files/42881/RPI_glyph.pdf)

![rpi_glyph](https://cloud.githubusercontent.com/assets/3702016/11372356/475bf548-92cd-11e5-80cb-4628671227b0.png)

[2015-11-24 16:03] sphinxc0re commented on #35
I have the svg if you like

[2015-11-24 18:03] bearbin commented on #35
What is the copyright/trademark situation with this?

[2015-11-24 18:09] SafwatHalaby commented on #35
Basically "Use freely as long as you don't deceive people and make them think they're buying stuff from the official Rpi foundation".

[2015-11-24 18:09] sphinxc0re commented on #35
I got the original from wikimedia commons

[2015-11-24 18:09] sphinxc0re commented on #35
then i made the glyph

[2015-11-24 18:10] SafwatHalaby commented on #35
Reference: https://www.raspberrypi.org/trademark-rules/

Oh and:

[2015-11-24 18:11] SafwatHalaby commented on #35
Another relevant part:

[2015-11-24 18:44] bearbin commented on #35
So we can't use the logo then, according to the rules.

[2015-11-24 18:50] sphinxc0re commented on #35
We can use the logo, as long as we follow the rules

[2015-11-24 18:52] bearbin commented on #35
We can use the name "Raspberry Pi" but not the logo to indicate our compatibility.

[2015-11-25 07:38] SafwatHalaby commented on #35
I think you mis-interpreted this. Why do you think we can't use the logo? We offer a genuine Raspberry Pi service.

[2015-11-25 07:45] madmaxoft commented on #35
I'm more concerned about

If I read that right, it means that the logo cannot be used on a download button, it can only point to their website.

[2015-11-25 11:31] #35 closed

[2015-11-25 18:13] bearbin commented on #35
@SafwatHalaby My interpretation of a "genuine raspberry pi service" is a service provided by the raspberry pi foundation. It wouldn't make sense to me otherwise.

[2015-11-25 19:06] SafwatHalaby commented on #35
Following that logic, you won't see any Rpi logo anywhere other than http://raspberrypi.org . But you do see them everywhere.

[2015-11-25 21:36] tigerw commented on #35
I am of the firm opinion to err on the side of flagrant disregard for copyright.

On 25 Nov 2015, at 19:06, "Safwat Halaby" notifications@github.com wrote:

[2015-11-26 08:13] madmaxoft commented on #35
@tigerw After being bitten hard by the copyright "mafia", I tend to err on the side of safety.

[2015-11-26 17:09] bearbin commented on #35
@tigerw Regardless of your disregard for copyright, trademarks are a much bigger issue. Trademark owners actually go after infringement for fear of losing their control over the mark.

Notice how we changed from being `MCServer: A C++ Minecraft server` to being `Cuberite: A Minecraft-compatible game server`, which was in part to avoid infringement of Mojang's marks.

[2015-11-26 22:07] tigerw commented on #35
I said it in a tongue-in-cheek way (does no one understand my jokes?) but:

That tends to happen with commercial products infringing on trademarks, right? I would imagine that it would be a bit of a PR disaster for the Rpi Foundation if an article on Reddit popped up saying Raspberry Pi Foundation files suit against open source project for using their logo on a download button or something to that

[2015-12-10 16:56] mathiascode commented on #34
Still working on this. I'll create a PR this weekend.

[2015-12-11 16:30] SafwatHalaby commented on #34
Thank you :)

[2015-12-19 12:18] SphinxC0re opened #36 "Add a banner to advertise the meetup"
– taken from the forum

[2015-12-19 12:19] sphinxc0re commented on #36
You could put it between the main title and the download section

[2015-12-21 23:49] #19 closed

[2015-12-21 23:49] #25 closed

[2015-12-22 14:45] SphinxC0re opened #37 "Add MacOS builds"
@mathias-github that sounds like a job for you :wink:

[2015-12-22 20:53] mathiascode commented on #37
I see you already added them. I'll make the button layout prettier later.

[2015-12-22 20:55] mathiascode commented on #36
This is on my todo-list. I'll probably put the banner underneath the navigation bar.

[2015-12-22 21:17] #37 closed

[2015-12-22 21:18] sphinxc0re commented on #36
nice

[2015-12-23 16:53] SphinxC0re opened #38 "Add FreeBSD builds"
I think at this point we have to overthink the website design. The main page will be totally cluttered if we add another two of those huge buttons. What about a download section instead?

[2015-12-23 17:29] bearbin commented on #38
What about platform detection and a downloads page?

[2015-12-23 17:31] sphinxc0re commented on #38
That would be great

[2015-12-23 21:59] SafwatHalaby commented on #34
Ping.
I don't mean to rush you, it's just that the changes have been already implemented at http://final.cuberite.ga since a long time, and I suspected that you might have simply forgot to PR.

[2015-12-23 22:53] mathiascode commented on #34
I need to change the design of the "News" page as well, but there have been some other things that I wanted to work on instead. I'll fix this one as soon as possible, probably not in the next few days since it's Christmas.

[2016-01-05 09:21] SphinxC0re opened #39 "Get rid of long welcome text"
We should really focus on the core features of Cuberite.

Performant. Configurable. Extensible.

or

Performant. Configurable. Extensible. Free.

[2016-01-10 12:57] SphinxC0re opened #40 "Proper download section"
I'm imagining something like what the blender website is using:
https://www.blender.org/download/

[2016-01-22 10:26] mathiascode commented on #39
Should still tell the visitor what Cuberite is.

[2016-01-22 10:36] mathiascode commented on #40
I'll play around with this. I'm planning to start working on a larger PR for the website today.

[2016-01-22 15:51] mathiascode commented on #24
Progress :D

The page content will scale properly soon + there will be less and cleaner/better code.

[2016-01-22 18:44] mathiascode commented on #36
Do you still want this banner inserted?

[2016-01-22 18:45] mathiascode commented on #38
Working on it.

[2016-01-22 21:07] sphinxc0re commented on #36
The meetup will still happen

[2016-01-22 21:09] sphinxc0re commented on #38
Are you adding a whole download section? Because that would be better instead of just stuffing the whole frontpage with buttons

[2016-01-22 23:59] mathiascode commented on #38
I was thinking about something like this: http://final.cuberite.ga/

What do you think?

[2016-01-23 00:01] mathiascode commented on #24
Do the font sizes and UI element sizes look better to you now? http://final.cuberite.ga/

[2016-01-23 11:44] sphinxc0re commented on #24
This looks really good. I think we can drop the download buttons on mobile devices, because we don't have any mobile builds yet

[2016-01-23 11:45] sphinxc0re commented on #38
Are you using any js for the dropdown?

[2016-01-23 11:46] sphinxc0re commented on #24
On the other pages (e.g. _support_) the text still looks a little too small on huge devices

[2016-01-23 12:37] mathiascode commented on #38
It's pure HTML and CSS.

[2016-01-23 12:42] sphinxc0re commented on #38
I love it :dancer:

[2016-01-23 12:43] sphinxc0re commented on #38
Could you remove the transition of the menu buttons? I find it a somewhat bad UX

[2016-01-23 12:57] mathiascode commented on #38
When you put your cursor over the buttons?

[2016-01-23 13:29] mathiascode commented on #24
I've added media queries up to 5100px now. Does the text look bigger?

[2016-01-23 17:06] mathiascode commented on #24
I think hiding the download buttons will just cause more hassle. Maybe someone only has access to a device with a small screen at that moment, and wants to check the content of the archives, transfer the downloaded archive to a computer or something else.

[2016-01-23 17:17] sphinxc0re commented on #38
Yes

[2016-01-23 17:21] mathiascode commented on #38
Alright, it's removed. http://final.cuberite.ga/

[2016-01-23 17:22] mathiascode commented on #36
Okay, I'll add a banner then

[2016-01-23 18:03] mathiascode commented on #36
Have you written some kind of announcement about this?

[2016-01-23 18:05] sphinxc0re commented on #36
I couldn't do that yet, because I don't have enough rights on the Forum. You can try to write something

[2016-01-23 18:17] mathiascode commented on #36
I'll add a post to the "News" section of the site.

[2016-01-23 18:38] sphinxc0re commented on #36
Okay

[2016-01-23 20:06] mathiascode commented on #36
Something like this? http://final.cuberite.ga/news/cuberite-meetup/

[2016-01-23 21:14] sphinxc0re commented on #36
Probably @bearbin should take a look at the grammar but so far it looks really good

[2016-01-23 21:29] mathiascode commented on #36
Thanks!

[2016-01-23 22:03] bearbin commented on #36
The announcement looks good. Two small fixes:

should be `at the meetup`

should be `mark off the days you are available to meet up`

[2016-01-23 22:19] mathiascode commented on #36
Alright, I've corrected the mistakes. Thanks!

[2016-01-24 00:40] sphinxc0re commented on #36
`Make sure to visit the Cuberite meetup`
@bearbin is that okay? What about
`Make sure to attend the Cuberite meetup` ?

[2016-01-24 08:50] bearbin commented on #36
@SphinxC0re

Your suggestion is probably better.

[2016-01-24 11:04] sphinxc0re commented on #36
Good. For the article, you should add the point that for those who can't come to the meetup, the whole thing will be streamed via an icecast service. Also every developer will be available on the TS3 and probably IRC.

[2016-01-24 11:57] sphinxc0re commented on #36
I just talked to @bearbin and we both thought that it would be better to stream via YT/Twitch. I don't think we can do both, so we have to figure that out.

[2016-01-24 13:56] mathiascode commented on #36
I fixed the error and added some information about streaming: http://final.cuberite.ga/news/cuberite-meetup/

[2016-01-24 17:25] sphinxc0re commented on #36
What about a disclaimer? Could we get legal issues without one?

[2016-01-24 17:48] mathiascode commented on #36
What kind of disclaimer?

[2016-01-24 17:50] sphinxc0re commented on #36
A legal disclaimer?

[2016-01-24 18:10] mathiascode commented on #36
I guess a privacy policy and cookie information is required, since we collect data from visitors

[2016-01-24 18:13] sphinxc0re commented on #36
@bearbin does PIWIK have such a function?

[2016-01-24 18:24] mathiascode commented on #36
What information about visitors do we collect at the moment?

[2016-01-24 20:07] #24 closed

[2016-01-24 20:07] #34 closed

[2016-01-24 20:07] #36 closed

[2016-01-24 20:07] #38 closed

[2016-01-24 20:07] #40 closed

[2016-01-24 20:11] #16 closed

[2016-01-24 20:11] #39 closed

[2016-01-25 18:11] mathias-github opened #42 "Create a privacy policy"
We should create a (simple) privacy policy that tells the user exactly what we do with the analytics information we collect and what we use cookies for. We could also insert a link to opt-out of Piwik's tracking (alternatively configure Piwik to respect the do-not-track feature in browsers). A link to this privacy policy could be placed in the footer.

Something similar to this perhaps? https://el

[2016-01-25 20:41] mathiascode commented on #42
How is this so far? http://final.cuberite.ga/privacy/

[2016-01-25 21:12] sphinxc0re commented on #42
Looks good. We still need some grammar checking ;-) @bearbin

[2016-01-26 19:26] mathiascode commented on #42
I extended the privacy policy a bit to cover the forum and newsletter.

[2016-01-26 19:27] bearbin commented on #42
I didn't notice anything particularly wrong with the grammar, but

I believe the forum also allows users to send emails to you. If I'm right, this should be updated.

I would also add a section to clarify that we do not currently track usage of the server binary itself.

[2016-01-26 19:51] mathiascode commented on #42
Does it look better now?

[2016-01-27 11:03] bearbin commented on #42
Lgtm
On 26 Jan 2016 19:51, "Mathias" notifications@github.com wrote:

[2016-01-27 11:23] sphinxc0re commented on #42
@mathias-github I think you can push this directly to the repo

[2016-01-27 16:07] #42 closed

[2016-01-28 14:01] LogicParrot opened #43 "Support E-mail"
Last time I checked, the support E-mail was broken. If it is still broken, I suggest we remove it from http://cuberite.org/support/ until this is fixed.

[2016-01-28 14:08] LogicParrot opened #44 "Mirroring news"
I think that every news announcement should be mirrored at the [forum announcement section](http://forum.mc-server.org/forumdisplay.php?fid=7) to encourage discussion. A link from the cuberite website to the relevant forum announcement would be nice.

[2016-01-28 14:09] LogicParrot commented on #44
Mirroring at the forums is probably most easily done manually. Considering the low-volume nature of the news, that shouldn't be too hard.

[2016-01-28 14:10] LogicParrot commented on #44
Mirroring at the forums is probably most easily done manually. Considering the low-volume nature of the news, that shouldn't be too hard. I am willing to take responsibility for that if I'm giving the proper forum permission.

[2016-01-28 14:10] SafwatHalaby commented on #44
Mirroring at the forums is probably most easily done manually. Considering the low-volume nature of the news, that shouldn't be too hard. I am willing to take responsibility for that if I'm given the proper forum permission.

[2016-01-28 14:24] SafwatHalaby commented on #44
It seems I already have the permission. I've submitted all of the news to the forum announcement section, but I didn't link to them from the main site.

[2016-01-28 14:32] sphinxc0re commented on #44
@madmaxoft I would like to write announcements, too. Could you make me a moderator on the forums?

[2016-01-28 14:36] SafwatHalaby commented on #44
@SphinxC0re Note that  the idea is to keep it in perfect sync with the homepage news. So we shouldn't "write announcements", I just wanted to sync the cuberite.org news with the forum announcements. Btw, who makes the newsletters?

[2016-01-28 14:37] SafwatHalaby commented on #44
I want to give credit where credit is due, could anyone tell me who wrote each post?

[2016-01-28 14:37] sphinxc0re commented on #44
@bearbin and I write the newsletter.

[2016-01-28 14:54] SafwatHalaby commented on #44
To avoid misattribution to me, I'll write "Sphinxc0re and bearbin" on all of posts for now. PM me if you'd like to fine-grain this on a per-post basis.

[2016-01-28 15:26] mathiascode commented on #43
Who is the maintainer of the email address?

[2016-01-28 15:32] SafwatHalaby commented on #43
I think it's @bearbin. The email address is supposed to relay the message to several devs, including Tiger, Xoft, Sphinxc0re, me, and possibly others. But it wasn't reliably doing that last time I checked.

[2016-01-28 16:35] bearbin commented on #43
@madmaxoft maintains the email address. I would be happy to take it on and get it working, but that would necessitate the transfer of the whole domain, which would be rather a lot of work and xoft probably doesn't want that.

[2016-01-28 17:49] #44 closed

[2016-01-29 07:53] madmaxoft commented on #43
I wouldn't mind transferring the domain, I've just never done it before so I have no idea what needs to be done for that.

[2016-01-29 14:17] sphinxc0re commented on #44
@LogicParrot I'm sorry but you misspelled my name. It's **SphinxC0re** not **Sphinxc0re** :smile:

[2016-01-29 16:31] SafwatHalaby commented on #44
@SphinxC0re Fixed.

[2016-01-29 16:53] bearbin commented on #43
@madmaxoft The process is quite simple, only a few things that need to be done.

First you need to "unlock" the domain in your registrar control panel. Then I can send a request to transfer and you can choose to accept.

A screenshot of the DNS control panel would be helpful also, so I can get everything working again after the transfer.

[2016-01-31 13:36] bearbin commented on #43
Actually, it turns out that I also need a transfer code/EPP secret. If you could email that to me that would be good.

[2016-02-04 18:31] SphinxC0re opened #48 "Small color correction"
Could you remove the transparency from the dropdowns, but keep the darker grey?
I find the transparency kinda distractive.
![bildschirmfoto von 2016-02-04 19-29-06](https://cloud.githubusercontent.com/assets/3702016/12825267/c7c8f31c-cb75-11e5-9857-7318d4ca0271.png)
its #C3C3C3

[2016-02-04 18:37] #48 closed

[2016-02-04 18:37] sphinxc0re commented on #48
Perfect! Thanks @mathias-github

[2016-02-04 18:39] mathiascode commented on #48
:+1:

[2016-02-04 18:53] mathias-github opened #49 "Moving the manual to this repository"
I suggest moving the user's manual to this repository, because
- It's easy to integrate it with the website design
- Better-looking URL on the main domain (http://cuberite.org/manual/)
- GitHub Pages CDN
- Markdown support

With the help of Jekyll, we can keep the file structure quite similar to the current user's manual: https://github.com/mathias-github/cuberite-redesign-final/tree/gh-pages/manu

[2016-02-04 19:00] SafwatHalaby commented on #43
Could we put a note that the mail is broken in the meantime?

[2016-02-04 19:04] LogicParrot opened #50 "https?"
I was wondering if it would be possible to convert cuberite.org into https.
I know there's a technical difficulty since the site is actually hosted on Github and a cert would cause trouble. But it can be resolved:

- Have an nginx server serving the cuberite.org site, encrypt it with letsencrypt
- The server would proxy requests upstream to cuberite.github.io.
- The server has a ~5 minute page cac

[2016-02-04 19:05] bearbin commented on #50
The build server could do that, and it would be easy to set up over the weekend.

I would need xoft to change the DNS though.

[2016-02-04 19:06] SafwatHalaby commented on #50
Ok. Slightly off topic: I'm somewhat confused about the server topology. How many servers does the project have currently? And where is the new forum hosted?

[2016-02-04 19:07] SafwatHalaby commented on #50
Oh, and the book too.

[2016-02-04 19:08] bearbin commented on #50
I have no idea about the new forum.

We have the build server, the forum server, xoft's docs server, and the book + newsletter on shared hosting.

[2016-02-04 19:08] bearbin commented on #50
I may have missed a few actually.

[2016-02-04 19:10] SafwatHalaby commented on #50
Name: forum.cuberite.org
Address: 193.34.145.89

Name: builds.cuberite.org
Address: 91.121.116.53

Name: book.cuberite.org
Address: 208.94.118.138

Name: api-docs.cuberite.org
Address: 217.16.187.16

[2016-02-04 19:11] bearbin commented on #50
The book and newsletter are hosted on NearlyFreeSpeech.NET, the buildserver on Kimsufi, and the others IDK.

[2016-02-04 19:19] bearbin commented on #49
I feel like this would be quite a lot of work for not much gain, seeing as what we have at the moment works. However, I would be willing to work on some of your pain points:
- Better Looking URL (by setting up a reverse-proxy in front of cuberite.org as is planned for HTTPS)
- Markdown Support (an hour of work in the genscript, not hard at all)

If you really feel the need to fix what isn't broken

[2016-02-04 19:22] mathiascode commented on #50
The new forum is hosted on SphinxC0re's VPS, and the API Docs on http://www.savana.cz/.

[2016-02-05 16:06] SafwatHalaby commented on #43
@mathias-github removed the e-mail in https://github.com/cuberite/cuberite.github.io/commit/aae9aa3a0cd3b5703c3b68a94ce19729aaff5126

[2016-02-05 16:11] sphinxc0re commented on #43
This should stay open though, until we have a working mail service

[2016-02-05 16:17] SafwatHalaby commented on #43
:+1:

[2016-02-05 20:46] sphinxc0re commented on #50
I'm hosting the forum at the moment

[2016-02-06 08:07] SafwatHalaby commented on #49
~~@bearbin https is a good enough gain. A reverse proxy with https support which fetches stuff over the clear is just superficial https. The only way to get real https in book.cuberite.org is moving it out of the shared hosting server.~~

[2016-02-06 09:04] bearbin commented on #49
?Sorry

book.cuberite.org currently has HTTPS, cuberite.org does not. The proposed way of adding HTTPS to cuberite.org was a reverse proxy.

[2016-02-06 09:16] SafwatHalaby commented on #49
@bearbin I apologize! I assumed it does **not** have https.

[2016-02-06 10:35] sphinxc0re commented on #49
I like the idea of changing the design to fit all of our other services. But the current genscript works fine

[2016-02-06 21:32] LogicParrot opened #51 "Mention IRC in http://cuberite.org/support/"

[2016-02-10 17:11] mathiascode commented on #51
Something like this? http://final.cuberite.ga/support/

[2016-02-10 17:13] SafwatHalaby commented on #51
Looks good to me :)

[2016-02-10 19:26] sphinxc0re commented on #51
Push it, push it! :laughing:

[2016-02-11 15:44] mathiascode commented on #51
Done

[2016-02-11 15:44] #51 closed

[2016-02-18 07:15] SphinxC0re opened #53 "Alter banner for the beginning of the meetup; Add a post to announce the start; Add Twitch"
The twitch.tv address is simply:
https://twitch.tv/cuberite

The post should go out tonight

[2016-02-18 15:24] mathiascode commented on #53
Something like this? http://final.cuberite.ga/news/start-of-the-cuberite-meetup/

[2016-02-18 16:08] sphinxc0re commented on #53
Looks good! Merge it in!

[2016-02-18 18:56] mathiascode commented on #53
Alright, done

[2016-02-18 20:06] #53 closed

[2016-02-18 22:07] mathias-github opened #54 "Add links to social media pages"
Any pages other than YouTube and Twitter?

[2016-02-18 22:12] bearbin commented on #54
Google+ is https://plus.google.com/b/115692611616794030769/115692611616794030769
Twitter is https://twitter.com/cuberiteproject
YouTube is https://www.youtube.com/channel/UC0eyU42IIkUoJ_h5Oj5fi-A

BountySource? https://www.bountysource.com/teams/cuberite
IRC?

[2016-02-19 05:29] SafwatHalaby commented on #54
CuberiteDiaries is "non-official" as of now, so I'm not sure it belongs. Just thought I'd mention it:
https://vimeo.com/cuberite

[2016-02-19 08:14] sphinxc0re commented on #54
Twitch?

[2016-02-19 16:23] mathiascode commented on #54
Thanks for the info!

[2016-02-23 21:29] mathiascode commented on #54
How does this look? http://final.cuberite.ga/

[2016-02-23 21:33] bearbin commented on #54
Looks good, apart from that the G+ logo is wrong.

[2016-02-23 21:44] mathiascode commented on #54
I'll change it.

What do you think, should the Twitch link be there or not? It feels a bit strange to redirect visitors to a page that's rarely used. When we use Twitch, there will most likely be a news post about it.

[2016-02-24 00:08] sphinxc0re commented on #54
We should enable the twitch logo, when used and highlight it then

[2016-02-24 01:55] mathiascode commented on #54
I've updated the Google+ icon.

[2016-02-24 07:17] bearbin commented on #54
I'm happy with it now, are you @SphinxC0re?

[2016-02-24 15:07] mathiascode commented on #50
Any progress?

[2016-02-24 19:00] sphinxc0re commented on #54
I'm not too happy with the twitch icon. Like I said, we should only show it when we actually make use of twitch

[2016-02-24 19:07] mathiascode commented on #54
I've removed the Twitch icon now. The CSS code for it will still be there for the future.

[2016-02-24 19:29] bearbin commented on #54
Great, merge it in :)

[2016-02-24 19:32] bearbin commented on #50
@madmaxoft is working on transferring the domain I think, but there isn't an easy way from his host's control panel.

[2016-02-24 20:16] #54 closed

[2016-02-24 21:26] LogicParrot commented on #50
Why is an ownership transfer needed? He'd just need to set the IP to direct to the buildserver.

[2016-02-24 21:27] SafwatHalaby commented on #50
Why is an ownership transfer needed? He'd just need to set the IP to direct to the buildserver. (or wherever you're planning to host the reverse proxy)

[2016-02-24 21:35] bearbin commented on #50
I think there was a reason, I can't remember what though. It would certainly be easier though.

[2016-02-24 21:36] SafwatHalaby commented on #50
Perhaps it was the support E-mail setup.

[2016-02-24 21:37] SafwatHalaby commented on #50
Yes, the transfer might be needed for #43, however, this issue can be resolved without a transfer.

[2016-02-24 21:39] bearbin commented on #50
Yep, that was it. I can't do it right now, but I can set up the buildserver as a proxy over the weekend, and test it.

[2016-02-28 16:42] SphinxC0re opened #55 "move assets into seperate folder"

[2016-03-01 17:47] mathiascode commented on #55
Something like this?
- css
- fonts
- icons
- js
- _layouts
- news
- 404.html
  etc

[2016-03-01 18:05] ghost commented on #50
IF you want to USE SSL use https://letsencrypt.org/

[2016-03-01 18:05] bearbin commented on #55
Yes, something like that I think.

[2016-03-01 18:06] bearbin commented on #50
@alwaysontop617 That's what we're planning to do.

[2016-03-01 21:57] sphinxc0re commented on #55
You are totally right

[2016-03-03 18:01] #55 closed

[2016-03-04 02:22] ghost commented on #50
You will use lets encrypt?

If so, great.

[2016-03-04 02:25] ghost commented on #43
@bearbin Can you add my email to dev??

Its alwaysonestepahead617@gmail.com

[2016-03-04 07:31] sphinxc0re commented on #50
We're already using _Let's Encrypt_ on most of our platforms. The webadmin and the website are the only platforms missing

[2016-03-04 09:39] madmaxoft commented on #50
Would it be much trouble to host the actual main page somewhere else (perhaps at the build server?) and have it build the site from the GitHub repo whenever a new commit was pushed to it? Basically this would mean setting up the same engine that GitHub uses to generate the pages, plus a commit hook for the repo. Then we could drop the github redirection. I have a feeling that even the emails would

[2016-03-04 09:46] sphinxc0re commented on #50
Sounds like a very good idea. @bearbin?

[2016-03-04 14:04] ghost commented on #50
Kk Why when I go to https://cuberite.org I see this:
![person-tree](https://cloud.githubusercontent.com/assets/17088079/13529080/b5fe61c8-e1df-11e5-8b1e-defc4013c4b1.jpg)
If you were using LetsEncrypt, I would not see this.
![soccer-ball](https://cloud.githubusercontent.com/assets/17088079/13529113/e5e7aa2a-e1df-11e5-8a77-a845bb804d4f.jpg)
Also the Certificate information says it is not LetsEncryp

[2016-03-04 14:07] mathiascode commented on #50
@alwaysontop617 HTTPS isn't set up yet.

[2016-03-04 14:08] ghost commented on #50
https://gist.github.com/alwaysontop617/eeaaabd3f7330c08c7b7.

[2016-03-04 14:08] ghost commented on #50
Ill work on it

[2016-03-04 14:10] mathiascode commented on #50
The thing is, we need to move the site from Github first before we can set up Let's Encrypt.

[2016-03-04 14:10] alwaysontop617 commented on #50
KK Good News, I'll Host it

[2016-03-04 14:13] ghost commented on #50
KK Good News, I'll Host it for you FREE, do you want me to host it?
![download](https://cloud.githubusercontent.com/assets/17088079/13529257/da8343dc-e1e0-11e5-9ba7-8131841b8c5c.jpg)
I would be glad to host it for you, who is the register for cuberite.org?

[2016-03-04 14:23] madmaxoft commented on #50
Sorry, but we're not "giving away" our main assets to someone who just joined, no matter how enthusiastic they may be. We need someone whom we know is reliable and we can trust them. We already have a buildserver hosted, it should be possible to host the main page there as well.

[2016-03-04 14:59] ghost commented on #50
Ok then, you will need to get a vps because let's encrypt is software and does not work with hosting, but if you decide to use my hosting service MSG me.

[2016-03-04 18:09] bearbin commented on #50
@madmaxoft It is possible to set up a reverse-proxy for the main site there. I have set up a test of feasibility: https://crtest.bearbin.net

I would need to be online at the same time as you to do the domain redirection, to avoid downtime. All that we need is to change the CNAME record to point to the new server.

[2016-03-25 18:25] mathias-github opened #56 "Remove certain vendor prefixes from CSS"
I suggest removing some old vendor prefixes from the CSS code, e.g. -webkit-border-radius and -moz-box-shadow, since browsers haven't used them in many years. It would clean up the code a little.

A list of needed prefixes: http://shouldiprefix.com/

What do others think?

[2016-03-25 18:52] mathias-github opened #57 "Remove old font formats"
I think we can remove a few old font formats, such as .eot and .svg, since they aren't needed in  modern browsers.
- .eot is only required by IE 8 and below, which is very old
- .svg was used many years ago by old mobile browsers such as Safari 4.1

By removing these, we will reduce the amount of files and code.

[2016-03-26 02:37] mathiascode commented on #50
If possible, we should also enable HTTPS on the API Documentation site.

[2016-03-26 03:48] mathiascode commented on #56
I've removed a few vendor prefixes. If anyone is experiencing problems, comment here.

[2016-03-26 03:48] #56 closed

[2016-03-26 03:48] mathiascode commented on #57
I've removed the .eot, .svg and .ttf font formats. If anyone is experiencing problems, comment here.

[2016-03-26 03:49] #57 closed

[2016-03-26 13:16] ghost commented on #50
IK

On Fri, Mar 25, 2016 at 9:37 PM, Mathias notifications@github.com wrote:

##

Sincerely,
Thomas Wilbur

[2016-04-04 15:33] SafwatHalaby commented on #50
Without this, by performing a MITM on the homepage, one could make clients download malicious executables by making the download buttons direct to the wrong site.

[2016-04-04 18:56] tigerw commented on #50
Where can I buy this MITM® product? "Malicious Executables" sounds delicious.

[2016-04-07 21:50] SphinxC0re opened #60 "G+ and twitter icons not shown on smaller screens"
I'm usually working on a 14.5 inch screen. This is the result for the bottom right corner:
![auswahl_028](https://cloud.githubusercontent.com/assets/3702016/14368033/82557e40-fd1b-11e5-9c72-f37464238d90.png)

[2016-04-08 12:28] mathiascode commented on #60
Which browser and operating system? I haven't noticed this on my 14 inch screen.

[2016-04-08 14:50] sphinxc0re commented on #60
Arch Linux  on both Firefox and Chromium.

[2016-04-15 12:59] mathiascode commented on #60
Do you have some kind of addon that removes social buttons? The Twitter and Google+ buttons disappeared when I added Fanboy's Social Blocking List to Adblock Plus.

[2016-04-15 16:07] mathiascode commented on #60
Can you see the links here? http://mathias-github.github.io/cuberite-redesign-final/

[2016-04-15 22:15] sphinxc0re commented on #60
I can already see them in production. It seems like you've already fixed the issue

[2016-04-16 09:11] #60 closed

[2016-04-16 11:45] mathiascode commented on #7
Closing this issue for now, since our approach for testing builds isn't working well at the moment.
https://forum.cuberite.org/thread-2419.html

[2016-04-16 11:45] #7 closed

[2016-04-17 14:25] bearbin opened #62 "Important content below the fold."
![selection_001](https://cloud.githubusercontent.com/assets/1297699/14587759/75cd51ce-04b0-11e6-9ee5-538958f0793a.png)

There is more than enough space on my 1080p screen to have the benefits and bottom bar above the fold, and having them below is bad for user experience.

[2016-04-17 14:43] mathiascode commented on #62
How does this look? http://mathias-github.github.io/cuberite-redesign-final/

[2016-04-17 15:02] bearbin commented on #62
It's better, although the footer still isn't visible.

[2016-04-17 15:10] mathiascode commented on #62
How much of the footer is outside the screen?

[2016-04-17 15:11] bearbin commented on #62
All of it for me:
![selection_002](https://cloud.githubusercontent.com/assets/1297699/14588025/0b38cf44-04b7-11e6-916e-32030aa665f6.png)

[2016-04-17 19:37] SafwatHalaby commented on #62
The footer is also not visible on my laptop, it has always been that way. On mobile it's even worse; You scroll down, down, down, and there's a menu button down there, and it isn't obvious that this menu button has a different menu than the upper menu button.

[2016-04-18 19:29] mathiascode commented on #62
I'll play around with the front page design a bit to see what works the best.

[2016-05-14 11:42] mathias-github opened #63 "Remove "1.7" from the homepage"
I think we should keep support for 1.7 for now, but don't tell new visitors that we support it. Cuberite is very unstable in 1.7 at this point (new 1.8 mobs cause client crashes on first join, right clicking/placing blocks doesn't work etc.).

[2016-05-14 14:03] sphinxc0re commented on #63
I though about dropping 1.7 as well. Since e can always suppport two versions of the protocol, that might be good idea

[2016-05-14 17:52] #63 closed

[2016-05-17 20:00] mathiascode commented on #50
Any updates on the DNS record modification (or domain transfer)?

[2016-05-17 20:02] bearbin commented on #50
@mathias-github I asked @madmaxoft yesterday, he said he was on it.

[2016-05-17 20:04] mathiascode commented on #50
Alright, thanks!

[2016-05-17 20:07] mathiascode commented on #62
I'll work on this issue in the beginning of June. Too many things to do this month.

[2016-06-30 18:30] mathias-github opened #64 "Add "getting started" tips after downloading Cuberite"
When a new visitor downloads Cuberite, there should be an obvious link to a "Getting started" guide (the manual).

I plan on adding an on-page popup, that appears when a visitor clicks on a download link. This popup will contain a link to the manual, and some text which explains that downloads on the front page update quite often.

[2016-06-30 19:26] sphinxc0re commented on #64
Will you be able to solve this using only css?

[2016-06-30 20:03] mathiascode commented on #64
Yes, that should be possible.

[2016-07-01 06:33] sphinxc0re commented on #64
Them I'm all for it

[2016-07-01 12:40] mathiascode commented on #50
This is how we could solve the issue:
1. Update bearbin's reverse-proxy to point at http://cuberite.github.io
2. Remove the CNAME file in this repository
3. Change every mention of http://cuberite.org to https://cuberite.org in this repository
4. Update the main site's DNS record to point at the build server (where the reverse proxy is hosted)

It should be as simple as that. Bearbin already setup

[2016-07-01 14:22] mathias-github opened #65 "Better navigation on small screen"
Currently, we have two "hamburger" menus; one on the top of the page and one on the bottom. Hiding all the links in a menu isn't very good UX.

I thought about this solution instead: A floating bar at the bottom of the page, with icons and small text under the icons. This bar will show the most important links - the links in the navigation bar. To the far right of the bar, there is a "More" button

[2016-07-01 19:21] bearbin commented on #50
Yes, it's very easy to do. But I am waiting until the domain name is transferred, and xofts registrar is being terrible at actually allowing the transfer to complete.

[2016-07-01 22:28] sphinxc0re commented on #50
We are able to activate ssl on GH pages, aren't we. We are also able to set a custom domain name in the settings

[2016-07-02 07:24] bearbin commented on #50
No, GH pages do not yet support HTTPS with a custom domain.

[2016-07-02 10:35] mathiascode commented on #50
A recent change by Github: When the CNAME file is removed, it is possible to enforce HTTPS on cuberite.github.io. The option is available in the settings of this repo.

No support for custom domains though, so we still have to use the reverse proxy method.

[2016-07-02 10:44] madmaxoft commented on #50
I think I'd prefer a real web server running HTTPS on the cuberite.org domain, rather than a proxy.

At least if I understand correctly, the proxy works by providing HTTPS access to another HTTP server, so when the browser makes an HTTPS request to the proxy, it makes a request on behalf of the browser to the original HTTP server - but there's no protection there, anyone can attack this plain conn

[2016-07-02 10:47] bearbin commented on #50
The proxy would be connecting to the GitHub server over HTTPS so it would be secure.

[2016-07-02 21:46] tigerw commented on #50
Since we're talking about proxies, here's an even easier way (with no dependency on bearbin :P): https://kloudsec.com/github-pages/new

[2016-07-02 23:08] madmaxoft commented on #50
So you run it through a third party who see all of people's traffic. NSA must be really happy about such a service :P

[2016-07-03 11:06] mathiascode commented on #62
I took a little break from Cuberite last month, but I've started working on this issue again.

[2016-07-03 16:28] mathiascode commented on #62
What if we remove the benefits bar, and change the tagline to something that points out the benefits of the server?

E.g. "A lightweight, fast and extensible game server for Minecraft"

The visitor can click on the "About" link in the footer to learn more about Cuberite (server written in C++, plugins in Lua, history etc).

http://mathias-github.github.io/cuberite-redesign-final/

[2016-07-03 16:41] bearbin commented on #62
That looks good to me :)

[2016-07-03 18:53] SphinxC0re commented on #62
![bildschirmfoto 2016-07-03 um 20 51 45](https://cloud.githubusercontent.com/assets/3702016/16547063/fa7ad1f8-415f-11e6-8faa-f0a7f3825ad8.png)
![bildschirmfoto 2016-07-03 um 20 52 30](https://cloud.githubusercontent.com/assets/3702016/16547064/15d2413e-4160-11e6-882a-4840cbd8747d.png)

Seems like there is something wrong with the layout. Other than that, I find this a really good idea 😄

[2016-07-03 18:57] sphinxc0re commented on #62
I think it would be better to discuss the tagline on the Forum. I really like the new proposal

[2016-07-03 19:03] sphinxc0re commented on #62
Could you also make the background a little bit brighter? It's really difficult for the eyes at the moment

[2016-07-03 19:21] mathiascode commented on #62
Better now?

[2016-07-03 19:29] sphinxc0re commented on #62
Could you try this as the "white" on the website: #eaeaea
Also could you try to bring the background to nearly this color: #1e1e1e

Just a test

[2016-07-03 19:44] mathiascode commented on #62
Done.

[2016-07-03 19:46] mathiascode commented on #62
Can you see a background pattern on your screen?

[2016-07-03 21:53] sphinxc0re commented on #62
Yes 👍
You just have to adjust the bottom icons in mobile mode

[2016-07-03 23:23] madmaxoft commented on #62
It looks quite weird on small computer screens, and the More menu item is garbled:
![web_small](https://cloud.githubusercontent.com/assets/4388386/16548144/db89b644-4185-11e6-999d-a6448d47540c.png)

[2016-07-04 01:36] mathiascode commented on #62
There's still a few things I need to change before it's ready.

[2016-07-05 13:00] sphinxc0re commented on #62
For those of you, which aren't that 'scroll-hungry' : http://mathias-github.github.io/cuberite-redesign-final/
😉

[2016-07-05 20:12] madmaxoft commented on #62
The Windows download seems to have a Linux icon :P

[2016-07-06 07:51] sphinxc0re commented on #62
<img width="274" alt="bildschirmfoto 2016-07-06 um 09 50 21" src="https://cloud.githubusercontent.com/assets/3702016/16610994/1cbb97e2-435f-11e6-8a3d-0662a5d7e8e2.png">

[2016-07-06 16:23] SafwatHalaby commented on #50
The site uses Jekyll. It should be simple to setup a real web server which fetches the repo every once in a while, runs Jekyll to generate the static content, and serves it. It's only slightly harder than the reverse proxy method, I think.

[2016-07-06 18:10] tigerw commented on #50
If the NSA starts intercepting traffic, it should be a cause for celebration! It must mean we're getting really popular.

[2016-07-06 18:46] sphinxc0re commented on #50
The website is really well protected from downtime because we're not hosting it ourselves. I'm fine with @tigerw's solution, so let's use kloudsec

[2016-07-06 19:01] bearbin commented on #50
I would much rather not use kloudsec. Ignoring security for the time being (although that is a major consideration), one has to consider the increased downtime caused by the system, the possibility of it going away (very likely for a free service), and a lack of configurability as to what options we want.

[2016-07-06 19:45] SafwatHalaby commented on #50
As Bearbin already mentioned, our server would connect to the Github server over a secure connection. It's a hack; The browser cannot connect securely to Github via the `cuberite.org` domain because of a cert mismatch. So it connects to us securely, and we send it the cached Github page.

Note that a proxy with a long cache is effectively a real web server. If 1000 users connect in an instant, onl

[2016-07-06 20:05] tigerw commented on #50
If you're talking about downtime, well, does bearbin provide availability guarantees? Without getting into yet another disagreement, companies do have better teams compared to individual people, generally.

[2016-07-06 20:30] SafwatHalaby commented on #50
The buildserver has an excellent track record though. Is Bearbin's server availability a real concern? It's practically 100%, is it not?

[2016-07-06 20:50] bearbin commented on #50
@tigerw I would in fact argue the opposite - as you get larger reliability decreases. It is only the extraordinarily large providers who have excellent uptime. More infrastructure, more layers, more complexity, all cause more downtime unless you have a team of 20 SREs working around the clock.

It's not a major issue in the scheme of things though, more the stress of it disappearing one day and ha

[2016-07-06 21:00] tigerw commented on #50
...what if bearbin disappears one day..? He does have the keys to the kingdom, so to speak.

:D

ANYWAYS, as I said, just a thought.

[2016-07-07 05:20] SafwatHalaby commented on #50
Lol. I suppose that's a problem anyways. The disappearance of the DNS holder would be a problem, Kloudsec or not.

[2016-07-07 19:46] bearbin commented on #50
The domain is finally transferred. HTTPS should be up tomorrow.

[2016-07-08 09:52] bearbin commented on #50
HTTPS is now completed. Test it out :)

[2016-07-08 09:52] #50 closed

[2016-07-08 14:34] mathiascode commented on #50
Thanks!

Can you enforce HTTPS on cuberite.github.io just in case? There's an option in the repository settings.

[2016-07-08 14:39] bearbin commented on #50
@mathias-github done.

[2016-07-18 07:18] sphinxc0re commented on #62
I am really excited for more updates. @mathias-github?

[2016-07-21 10:42] bearbin opened #66 "Mac builds no longer exist."
They should be removed from the homepage as the last build is ~6 months old. The mac buildserver went down.

[2016-07-27 05:35] SafwatHalaby commented on #50
Which method was used, eventually? If it's the proxy method, you should make sure caching is working as expected to minimize latency.

[2016-07-27 07:57] bearbin commented on #50
The proxy method was done, but I haven't enabled caching yet. I will do that soon.

[2016-07-27 08:32] SafwatHalaby commented on #50
Alright. Enabling caching with nginx should be a rather trivial config change.

[2016-07-28 14:38] mathiascode commented on #62
I'm back home again, so I hope to get an update out as soon as possible.

[2016-07-28 15:07] sphinxc0re commented on #62
👍

[2016-07-28 16:33] mathiascode commented on #66
Done

[2016-07-28 16:33] #66 closed

[2016-07-28 16:35] mathiascode commented on #43
Should the email address be added back to the website?

[2016-07-28 16:54] bearbin commented on #43
I think so, what other purpose would it have?

[2016-07-28 16:55] bearbin commented on #50
I enabled caching yesterday, but I didn't notice any difference in response time, still a very reasonable 320ms (time to last byte for homepage HTML) for me.

[2016-07-28 19:16] mathiascode commented on #43
Is it fully functional now though?

[2016-07-28 20:48] sphinxc0re commented on #43
Yes it is

[2016-07-29 10:44] bearbin commented on #50
@LogicParrot Caching is verified enabled, is it all good now?

[2016-08-04 11:27] SafwatHalaby commented on #50
We can undoubtably tell that the cache is working by doing this:
- Set a reasonable cache time (e.g. 5 - 60 minutes).
- Visit cuberite.org
- Push a commit immediately afterwards, changing a page we visited.
- See if the change appears immediately or not.

[2016-08-04 11:54] bearbin commented on #50
@LogicParrot It is working, I enabled the debug messages and tested.

[2016-08-06 14:41] mathiascode commented on #62
I'm not dead. :O

Some progress at least. http://mathias-github.github.io/cuberite-redesign-final/

[2016-08-06 14:50] bearbin commented on #62
It looks great! Simple, but all the information is there.

[2016-08-06 15:18] mathiascode commented on #64
I've not been able to accomplish this without Javascript, but I added a link underneath the download buttons which contains "getting started"-information. The text is not final yet.
http://mathias-github.github.io/cuberite-redesign-final/

[2016-08-06 15:52] mathiascode commented on #62
Good to hear that. How is this support page? http://mathias-github.github.io/cuberite-redesign-final/support/

[2016-08-06 16:06] bearbin commented on #62
The button in the forum section has the wrong text and link.

The IRC button text should be replaced with chat.freenode.net / #cuberite IMO (any other opinions here?)

Also, is there any advantage of kiwiirc over the freenode webchat?

[2016-08-06 16:26] mathiascode commented on #62
I've fixed the forum link.

Last time I checked (summer last year), kiwiirc worked better on mobile phones than freenode webchat, but I think freenode has made their webchat responsive after that. I could change the link if you want me to.

[2016-08-06 16:48] mathiascode commented on #62
I made the subscribe-section on the news page a bit more descriptive: http://mathias-github.github.io/cuberite-redesign-final/news/#subscribe

[2016-08-06 17:17] bearbin commented on #62
#cuberite isn't useful on it's own, there needs to be a mention of freenode somewhere.

The subscribe-section seems good for me.

I would also be in favour of replacing "Support Forum" with a CTA-style button - "Join the Forum", "Visit Forum", similar to the email button.

[2016-08-06 19:11] mathiascode commented on #62
I've updated these now. The icons have also been corrected. Anything else that I should change?

[2016-08-06 19:34] bearbin commented on #62
LGTM

[2016-08-06 20:15] mathiascode commented on #62
Alright. I'll push the changes to this repository.

[2016-08-06 20:39] mathiascode commented on #65
Fixed in f5ef1eeb625aefce4d0821eed16e170f28f37ab1

[2016-08-06 20:39] #65 closed

[2016-08-06 20:40] mathiascode commented on #64
Fixed in f5ef1eeb625aefce4d0821eed16e170f28f37ab1

[2016-08-06 20:40] #64 closed

[2016-08-06 20:40] mathiascode commented on #43
Fixed in f5ef1eeb625aefce4d0821eed16e170f28f37ab1

[2016-08-06 20:40] #43 closed

[2016-08-06 20:40] mathiascode commented on #62
Fixed in f5ef1eeb625aefce4d0821eed16e170f28f37ab1

[2016-08-06 20:40] #62 closed

[2016-08-06 21:02] mathiascode opened #67 "HTTPS on API docs"
Currently we have HTTPS activated on all of our domains except for the API docs. We should activate HTTPS on there at some point.

[2016-08-06 21:11] madmaxoft commented on #67
Those are still hosted by me, and https is unavailable at my webhost.
If we moved them, we'd need to re-set-up the update scripts.

[2016-08-06 23:35] mathiascode commented on #49
The system for this is ready. All I have to do now is to style the page, add a print stylesheet, and add the rest of the documentation.

[2016-08-07 05:19] LogicParrot opened #68 "Download button hovering problems"
Something is wrong with the download buttons.
When hovering over a download button, a menu appears with 32/64 bit choices.
When moving the mouse down to click one of those choices, the menu disappers.

This does not always happen, it happens when you move past a certain speed. My hypothesis there's a "dead area" between e.g. the  "Linux" button and the "32 bit" button, and hovering over that dead

[2016-08-07 05:25] LogicParrot opened #69 "1.9 warning was removed"
The "1.9 features missing" warning was removed in the new design.

[2016-08-07 09:45] mathiascode commented on #68
Which browser are you using?

[2016-08-07 09:51] mathiascode commented on #68
I moved the dropdown menu 1 px up. Does the problem still occur?
Demo: http://mathias-github.github.io/cuberite-redesign-final/

[2016-08-07 10:01] mathiascode commented on #69
Fixed in ac9c2ceea67d61a3f593a052d8c5181b082a65ab

[2016-08-07 10:01] #69 closed

[2016-08-07 11:32] mathiascode commented on #49
How is it looking so far? This is roughly how the final style will be, once I've adjusted the spacing.
http://mathias-github.github.io/cuberite-redesign-final/manual/

Folder structure: https://github.com/mathias-github/cuberite-redesign-final/tree/gh-pages/manual

[2016-08-07 15:27] SafwatHalaby commented on #68
The problem no longer occurs. I was using Firefox 45.2

[2016-08-07 16:00] mathiascode commented on #68
Great! Fixed in ac9c2ceea67d61a3f593a052d8c5181b082a65ab

[2016-08-07 16:00] #68 closed

[2016-08-07 16:05] SafwatHalaby commented on #68
:)

[2016-08-07 20:07] mathiascode commented on #49
I think it's pretty much done now. Anything I should modify?

[2016-08-07 20:37] SafwatHalaby commented on #49
Great job. :)

I have a few non essential remarks.
- I personally find it much easier to read long text on black on white/white-like and assume many others do. The old manual was easier for my eyes. I would appreciate a "switch to black on white" / "plain version" / "Printable version" button which turns things into B on W.
- The url color is too close to the background color, in my opinion, and I

[2016-08-07 20:50] bearbin commented on #49
I also agree with @LogicParrot. Black on White (well, black on some very light colour) should always be the default for reading. Aligning to the left also makes things much easier to read.

What I don't understand is why this is any better than the current site, in terms of either development or reading by users. What compelling reasons do you have for the change?

@LogicParrot How exactly does th

[2016-08-07 22:31] mathiascode commented on #49
Is the readability better now?

I'd like to have as much of Cuberite's web things as possible in one place. It makes it easier to integrate with the website layout, and you just have to push changes once to make them apply everywhere.

Edit: I guess this could also be solved by adding HTML for the navigation bar and footer to the users-manual repository, and adding http://cuberite.org's stylesheet

[2016-08-08 19:52] bearbin commented on #49
Readability is much better now, but the links still need more contrast (and for me the text is a bit wide still). The title is a bit small also.

[2016-08-08 23:09] mathiascode commented on #49
Is it better now?

[2016-08-09 06:46] sphinxc0re commented on #49
Awesome! Good job 👍 How are we going to maintain the new manual? I'm thinking of creating a submodule for the actual manual, so we can update it and when we want to release it we can update the submodule inside the website repo

[2016-08-09 08:14] bearbin commented on #49
I can't see any major issues with the new design. Since everybody else feels that it is such an upgrade over the current design, I would be inclined to copy over the CSS into the users-manual repository.

[2016-08-09 09:59] sphinxc0re commented on #49
Why don't we move the manual to the website. We could shrink the server costs by moving as much to gh as possible

[2016-08-09 15:38] SafwatHalaby commented on #49
I don't feel it's "such an upgrade", I'm just going with the flow and couldn't care less about this :P
I don't think we need submodule mess, just plain old PRs?

[2016-08-09 15:55] bearbin commented on #49
No submodule mess - the book is not the website and it is not going to be in the website repository. It has it's own repository. I will change the style to the one @sphinxc0re + @mathias-github prefer, and add the header/footer. Hosting for the book costs no more than $0.5 per year, so that really isn't a worry.

[2016-08-09 16:10] SafwatHalaby commented on #49
Previously: https://book.cuberite.org/#2.4

Now: https://mathias-github.github.io/cuberite-redesign-final/manual/#worlds

The latter doesn't change with new versions. It can still change if we change the title, but that's rare.

[2016-08-09 16:11] SafwatHalaby commented on #49
I do really like the new css though.

[2016-08-09 16:17] bearbin commented on #49
I can add additional links for the titles as well, without any difficulty.

[2016-08-10 11:12] mathiascode commented on #49
https://github.com/cuberite/users-manual/pull/78

[2016-08-10 11:12] #49 closed

[2016-08-10 14:29] mathiascode commented on #50
We made the right choice. https://kloudsec.com is offline, and the certificate on https://blog.kloudsec.com/ expired on July 27.

Edit: Yes, it shut down. https://www.reddit.com/r/webdev/comments/4s3kmf/got_an_email_saying_that_kloudsec_will_be/

[2016-08-10 16:29] bearbin commented on #50
LOL. I guess so.

[2016-08-25 18:13] mathiascode opened #70 "Wrong redirect"
http://www.cuberite.org redirects to https://cuberite.org as it should, but https://www.cuberite.org/ redirects to https://raw.githubusercontent.com/cuberite/cuberite/master/compile.sh.

[2016-08-25 19:06] bearbin commented on #70
It's most likely I simply hadn't got around to setting up www.cuberite.org completely yet. Does it not give a HTTPS error?

[2016-08-25 19:07] bearbin commented on #70
I'll add it to my todo list anyway.

[2016-08-26 16:52] bearbin commented on #70
Fixed.

[2016-08-26 16:52] #70 closed

[2016-11-21 09:27] sphinxc0re opened #71 "Add macOS builds to frontpage"
The respective build job is lying here: https://builds.cuberite.org/job/Cuberite%20OSX%20x64%20Master/

[2016-11-21 10:26] #71 closed

[2016-12-19 14:38] mathiascode commented on #67
Seems to be fixed.

[2016-12-19 14:38] #67 closed

[2016-12-19 15:45] bearbin commented on #67
I set up a reverse proxy from my server as @madmaxoft's hosting broke the system and HTTPS was added in the process (although with an insecure backend connection).

[2016-12-20 09:06] sphinxc0re opened #72 "Make color scheme more colorful and brighter for better readablity"

[2016-12-20 13:12] mathiascode commented on #72
Which color(s) should be used?

[2016-12-20 13:37] sphinxc0re commented on #72
Good question 😁 I'm not really a designer. Knock yourself out and present me some color Presets if you like

[2016-12-20 15:17] tigerw commented on #72
How about...<https://en.wikipedia.org/wiki/Black_and_Yellow>

Sent from Windows Mail

From: Mattes D<mailto:notifications@github.com>
Sent: ?Tuesday?, ?20? ?December? ?2016 ?13?:?37
To: cuberite/cuberite.github.io<mailto:cuberite.github.io@noreply.github.com>
Cc: Subscribed<mailto:subscribed@noreply.github.com>

Good question ? I'm not really a designer. Knock yourself out and present me some colo

[2016-12-20 15:20] sphinxc0re commented on #72
I wouldn't like the standard *Minecrafty* looks with *brown* and _green_.

[2016-12-21 13:36] mathiascode commented on #72
How is something like this? http://mathiascode.github.io/cuberite-website-changes/

[2016-12-21 14:27] sphinxc0re commented on #72
:nauseated_face: not so good. But I'm also not sure what kind of color palette we should choose

[2016-12-21 14:29] sphinxc0re commented on #72
https://color.adobe.com
I think you should choose a complementary palette

[2016-12-21 14:45] mathiascode commented on #72
This is my weak side. Let me try some other palettes.

[2016-12-21 16:31] mathiascode commented on #72
How are the colors now?

[2016-12-21 16:59] sphinxc0re commented on #72
I asked a designer at work to do the coloring 😉 no offense, you did a really good job in every other aspect of the website

[2016-12-21 17:01] mathiascode commented on #72
Thanks, but what's wrong with the current colors? I'd like some feedback, so that I can improve.

[2016-12-21 17:38] bearbin commented on #72
The current website colours are fine, except that they are light-on-dark which is not so good for readability on most monitors. The proposed new colours are bad, because they don't go with each other and they are completely different from the cuberite colour scheme. Personally, my choice would be to flip dark with light on the current site until it looks readable enough, but then again I'm not a p

[2016-12-21 17:44] mathiascode commented on #72
That's basically the manual right now.

[2016-12-21 23:34] tigerw commented on #72
I think everyone is nitpicking.

Before the fancy colour monitors, guess what we considered to be a

![grayscale](http://www.topdesignmag.com/wp-content/uploads/2011/07/03_design-by-newconcept.jpg)

**website?**

That's right—grayscale.

Maybe with just a small splash of colour.

[2016-12-21 23:38] tigerw commented on #72
And of course, for true accessibility, you could use the User's Choice (Awards 2016): [Their chosen system colours!](http://www.iangraham.org/books/xhtml1/appd/update-23feb2000.html)

After all, everyone knows that the user knows best.

[2016-12-22 08:17] mathiascode commented on #72
We need to come to an agreement. Should we use the current color scheme, perhaps with a lighter background for better readability and a bit of color, or should we change the color scheme completely?

It's becoming annoying to slightly change the colors every now and then. If we can settle with something that most people are happy about, that would be great. So far, it seems like more people want c

[2016-12-22 08:40] madmaxoft commented on #72
Speaking as a somewhat blind person, I'd really prefer to have a dark text on light background on the main page, but I don't really care that much - I haven't actually seen the main page for what feels like centuries, so whatever goats your float :)

[2016-12-22 11:22] sphinxc0re commented on #72
I would like to wait on my designers opinion first, if you guys don't mind. She really knows her stuff

[2017-01-14 11:41] sphinxc0re commented on #72
How about this color scheme: https://cuberite-plugin-registry.herokuapp.com/

[2017-01-19 16:29] mathiascode commented on #72
Would this color cover the whole background on pages with text too? I'd prefer a more muted color.

[2017-01-25 19:54] SafwatHalaby commented on #72
https://book.cuberite.org/ looks pretty.

[2017-01-28 16:18] mathiascode opened #76 "Keep IRC link or not"
Should we keep promoting the IRC channel in the website footer? Every now and then a new user asks a question there, but doesn't receive an answer since devs don't use IRC very often.

[2017-01-29 11:15] madmaxoft commented on #76
If it were up to me, I'd remove it :)

[2017-01-29 13:49] bearbin commented on #76
If it were up to me, I'd keep it :)

We have the forum which is promoted much more heavily - removing the IRC isn't going to make people notice the forum link.

[2017-01-29 14:43] madmaxoft commented on #76
It would make those, who currently go to irc and get no reply, go to the forum instead and receive a proper response.

[2017-02-11 15:03] #76 closed

[2017-02-26 12:52] sphinxc0re opened #77 "Make background more noisy"
I thought of something like this: https://www.toptal.com/designers/subtlepatterns/dark-sharp-edges/
I guess @mathiascode could do that using only css?

[2017-02-26 13:31] mathiascode commented on #72
Do you still want this change?

[2017-02-26 14:05] sphinxc0re commented on #72
I'm not sure anymore. I guess we can close this for now.

[2017-02-26 14:05] #72 closed

[2017-04-17 02:17] mathiascode commented on #77
What do you think about a gradient similar to https://uigradients.com/? One short line of CSS (e.g. background: linear-gradient(to top, color1, color2) fixed;)

Example: https://mathiascode.github.io/cuberite-website-changes/

[2017-04-17 16:57] sphinxc0re commented on #77
@mathiascode I love it. For real. Did you take a look at the mobile version though? The colors on desktop are amazing but don't seem right on mobile

[2017-04-17 18:16] mathiascode commented on #77
The colors are the same on the desktop and mobile version, but they could vary on different screens. What kind of screen do you have?

Edit: I tweaked the gradients a little and added some transparency on the navigation bar and footer on the mobile version's home page. Does it look better?

[2017-04-17 19:15] sphinxc0re commented on #77
I think transparency is not that good but I also think from now on it's more about taste than anything else. I would personally prefer a opaque top bar.

[2017-04-17 19:27] mathiascode commented on #77
I can agree on that. Makes it a little hard to read. Reverted the change.

[2017-04-17 20:25] bearbin commented on #77
Also, I found this tool for checking contrast ratios of different colours. I think we should aim to at least pass the WCAG AA standard.

[2017-04-17 21:35] mathiascode commented on #77
The colors are WCAG AA compliant at the moment.

[2017-04-17 21:58] madmaxoft commented on #77
The background is too light, when compared to the white font. It is somewhat painful to read.

[2017-04-17 22:18] mathiascode commented on #77
Is it better now?

[2017-04-18 06:03] madmaxoft commented on #77
Yes, that's better.

[2017-04-18 06:55] sphinxc0re commented on #77
@mathiascode  is it posible to hide all downloads except the android one on mobile?

[2017-04-18 07:51] mathiascode commented on #77
We could probably display the download button for Android immediately on smaller screens, and add a small link that shows the rest of the download buttons when clicked on.

[2017-04-18 07:52] sphinxc0re commented on #77
That would be even nicer

[2017-04-18 13:49] mathiascode commented on #77
I added a "show more" link. Does it work fine for you? I'll fix the spacing and style of the button link.

[2017-04-18 14:30] sphinxc0re commented on #77
👍  Love it. How about @cuberite/core-team ?

[2017-04-18 14:33] madmaxoft commented on #77
Although not relevant to this issue, I like it.

[2017-04-18 14:34] sphinxc0re commented on #77
Yeah, the discussion about the websites UX kinda moved here 😜

[2017-04-18 23:02] mathiascode commented on #77
The toggle button is done

[2017-04-19 07:49] mathiascode commented on #77
Anything else I should change?

[2017-04-19 11:41] mathiascode commented on #77
Here's the new icon:
![icon](https://cloud.githubusercontent.com/assets/8754153/25178356/2ceedd36-250e-11e7-8e74-fd96cab3c4bc.png)

SVG: https://mathiascode.github.io/cuberite-website-changes/brand/icons/white_background.svg

[2017-04-19 11:53] madmaxoft commented on #77
I like the icon with the gradient, it would be great for the favicon, too. Right now the favicon's too similar to github (and 9gag and others), we need something more unique. This could be it :)

[2017-04-19 13:29] mathiascode commented on #77
Alright, I changed the favicon. :)

[2017-04-19 17:36] #77 closed

[2017-04-20 05:47] ItsShadowCone commented on #77
Imo the colors just don't fit to the white as good as the black one (or not quite black one)

[2017-08-21 10:00] Bond-009 opened #79 "The build status images don't show in Firefox nightly"
https://screenshots.firefoxusercontent.com/images/fdeb037a-eb81-493c-bb4d-236bfad7e326.png

[2017-08-21 10:17] bearbin commented on #79
How odd, they show for me using firefox.

Can you try loading the images on their own using the URL in the source?

[2017-08-21 10:22] Bond-009 commented on #79
They work when I view them from there source URL.

Maybe this is a Firefox nightly issue, but they show up properly on GitHub.

[2017-08-21 10:59] madmaxoft commented on #79
Where is that page located? I can't find it.

[2017-08-21 11:05] Bond-009 commented on #79
AFAIK there are no links on the site to it: https://cuberite.org/status

[2017-08-21 12:41] mathiascode commented on #79
I'll look closer into this. The badges load very slowly overall.

[2017-08-22 02:14] williamhatcher opened #80 "Book/Manual code"
Where can I find the code for book.cuberite.org

[2017-08-22 04:23] Seadragon91 commented on #80
Here https://github.com/cuberite/users-manual

[2017-08-22 04:23] #80 closed

[2017-08-23 05:23] williamhatcher commented on #79
@Bond-009 makes a great point. I'll add a link in the footer later.

[2017-08-23 18:21] williamhatcher opened #83 "Newsletter registration confirmation page needs styling"
https://newsletter.cuberite.org/subscribe.php

Should be styled like the rest of the site.

And should include an error if there is an invalid email in the POST.

[2017-08-23 18:50] bearbin commented on #83
Unfortunately last month the email verification service I was using was taken down and the newsletter has no email verification system at present. I am working on adding a new system.

The newsletter is not part of the main site, and a confirmatin page doesn't need any fancy styling really - the user is going to click away the next second in any case.

[2017-08-23 18:50] bearbin commented on #83
Closing this issue as the newsletter is not the main site.

[2017-08-23 18:50] #83 closed

[2017-08-23 19:02] bearbin commented on #83
As an update, the invalid email message has been fixed - a new solution has been found.

[2017-08-23 19:31] williamhatcher commented on #83
You can easily test if `$_POST['email]` exists and whether or not it is a valid email.

Was not sure where to put this issue.

[2017-08-26 22:08] mathiascode commented on #79
Just to confirm if this is a temporary issue or not, do the images still not show up?

[2017-08-27 05:53] SafwatHalaby commented on #79
I can see the images on Firefox.

[2017-08-27 08:05] Bond-009 commented on #79
I still can't see them on Firefox nightly, but they show up an GitHub and Travis

[2017-08-27 08:16] bearbin commented on #79
Can you check in your developer tools/network requests area and check if any errors appear?

[2017-08-30 07:41] Bond-009 commented on #79
Everything seems fine in the network tab, but when I hover my mouse over the image source in the inspector, it says: "Could not load the image"

[2017-08-30 15:59] bearbin opened #84 "Add underlines back to hyperlinks"
Example here: https://bearbin.github.io/cuberite.github.io/

For usability's sake, there is no real reason to remove the underlines from links, except when they are obviously links from context (buttons and navigation).

[2017-08-30 16:06] Bond-009 commented on #84
I find it way better-looking without.

[2017-09-02 08:08] SafwatHalaby opened #86 "Feature request: Notice template"
Sometimes we need to issue quick homepage notices. The CSS is already there, but I think we need a template for convenience. The idea is filling an .md file with the notice text, and that would make it appear on the homepage. Blanking the file removes the notice.

Reference: https://github.com/cuberite/cuberite.github.io/commit/8ed1360d7c245dd335f5617458021b959ce0c331

[2017-10-17 20:17] Bond-009 commented on #79
Fixed in Firefox Nightly 58 ¯\_(ツ)_/¯

[2017-10-17 20:17] #79 closed

[2018-08-20 15:36] misaalanshori opened #88 "error when downloading plugins"
I'm getting this error:
ERROR: Unable to connect to MySQL server! Error: Access denied for user 'bde5006a4f0235'@'104.41.1.8' (using password: YES)
when trying to download any plugin from https://plugins.cuberite.org
![image](https://user-images.githubusercontent.com/38964181/44350416-887bda00-a4c9-11e8-90f4-f9d3656b0d2d.png)

[2018-08-20 15:59] bearbin commented on #88
Thank you for reporting this issue. It is being dealt with in the relevant repository, hopefully @tigerw is able to fix it. https://github.com/cuberite/plugin-repository/issues/44

[2018-08-20 15:59] #88 closed

[2018-12-26 06:03] sfxworks opened #89 "Search SQL Failure"
When trying to search for "web" (looking for a dashboard plugin) I get the following error.

`ERROR: Unable to connect to MySQL server! Error: Access denied for user 'bde5006a4f0235'@'104.41.1.8' (using password: YES)`

[2018-12-26 06:16] sfxworks commented on #89
Issue still remains, but on a related note I found you all already have one :D

https://book.cuberite.org/#2.3

[2019-01-01 20:39] bearbin commented on #89
Closing as duplicate of cuberite/cuberite#4305. Sorry that the service is down.

[2019-01-01 20:39] #89 closed

[2019-09-04 22:41] mathiascode opened #90 "Newsletter for 2019"
A newsletter listing changes made to Cuberite since September 2017 would be nice to have.

[2019-09-04 22:48] mathiascode opened #91 "Clarify analytics access in privacy policy"
Currently, the privacy policy mentions that the whole Cuberite GitHub team has access to the site analytics, which is not true. Who has access to analytics.cuberite.org at the moment, and is the service actively used?

[2019-09-05 10:26] bearbin commented on #91
Currently users able to access the analytics are:

 * schwertspize
 * @sphinxc0re
 * @worktycho
 * @madmaxoft

However, it is not actively used, with none of those users logging in in for almost a year.

I would propose to eliminate it entirely as it's not being used.

[2019-09-05 10:28] madmaxoft commented on #91
Huh, I wouldn't even know where to start if I wanted to have a look :P

[2019-09-05 10:29] bearbin commented on #91
Just go to https://analytics.cuberite.org and log in (I can reset your password if you've forgotten)

[2019-09-05 10:33] madmaxoft commented on #91
Don't really care, I vote remove it.

[2019-09-12 11:42] mathiascode commented on #91
If nobody objects, I will remove the analytics code from this repo in a few days/weeks (depending on when I get my workspace moved to a new computer).

[2019-09-12 12:53] bearbin commented on #91
In that case, I will also shut down the server and delete all the data,
unless there are any objections from other members of
@cuberite/core-team in the next week.

[2019-09-12 13:24] madmaxoft commented on #91
No objections.

[2019-09-12 17:41] NiLSPACE commented on #91
No objections here

[2019-09-13 09:09] sphinxc0re commented on #91
Go ahead

[2019-09-16 14:51] mathiascode commented on #91
I've removed the analytics code from this repo and updated the privacy policy. Pull requests for removal of the code from other repos will be created asap.

[2019-09-16 14:51] #91 closed

[2019-09-16 15:16] mathiascode commented on #91
@bearbin The build server seems to have some analytics code that should be removed.

[2019-09-16 15:18] bearbin commented on #91
@mathiascode It should now be removed.

[2019-09-16 15:27] mathiascode opened #92 "Remove HTTPS proxy server"
A few years ago, we decided to put the website behind a proxy server, due to lack of HTTPS support for Github Pages. If things haven't changed since, cuberite.org currently proxies cuberite.github.io. However, Github has since added HTTPS support (LetsEncrypt).

What do you think about serving cuberite.org directly from Github Pages again? It would reduce maintenance burden, and the only regressio

[2019-09-16 15:43] bearbin commented on #92
GitHub Pages still doesn't support IPv6, which is stupid, and another thing we would miss out on as well as HSTS. However, I don't think either of those is really going to have an effect and reducing the number of layers of complexity is a good idea.

[2019-09-16 15:53] mathiascode commented on #92
Until the AAAA record is removed, an infinite redirect occurs on IPv6 connections due to cuberite.github.io now redirecting to cuberite.org.

[2019-09-16 17:29] bearbin commented on #92
This migration is now complete.

[2019-09-16 17:45] #92 closed

[2019-11-04 23:48] mathiascode commented on #86
Implemented in 60ea7708aa57e8a3dc8644d9be41ec39eac2f347

[2019-11-04 23:48] #86 closed

[2019-11-04 23:53] mathiascode commented on #84
The blue and bold links are differentiated enough in my opinion. Underlines look a bit too noisy.

[2019-11-04 23:53] #84 closed

[2019-11-06 21:12] mathiascode opened #94 "Improve CSS structure"
The current stylesheet has too many combined rules, which makes it difficult to read and maintain. Since we already use SCSS, it could be a good idea to look into SCSS variables for things such as colors.

[2019-12-04 22:31] mathiascode opened #96 "Revise the icons"
The SVG icons are needlessly large in file size at the moment, and I have a feeling I didn't align them to a grid the last time I added them.

[2020-01-03 16:38] #90 closed

[2021-04-20 15:03] 12xx12 opened #99 "Summer 2021 Newsletter"
Maybe for a regular update scedule we could aim for the next newsletter in late july. So there are four newsletter in a year and a resonable develpment progress between the newsletters

[2021-04-20 15:11] bearbin commented on #99
Quarterly would be a good schedule, we just need to remember!

[2021-04-20 15:22] 12xx12 commented on #99
We could set a reminder with a milestone

[2021-05-28 21:37] 12xx12 opened #100 "Add some kind of Server list"
So I just openend the Server-List thread on the forum
https://forum.cuberite.org/thread-1435.html

And this seems kind of noisy. I would suggest something like the news page(s) where you could add your server as a PR. This gives us the option to moderate posted servers and maybe implement some checks if the servers are actually still responding and remove the after a certain time of absence.

Or m

[2021-05-29 09:57] bearbin commented on #100
I'd say this is not worth it - there are existing discovery mechanisms for Minecraft servers, and I don't want to get into moderation, that's a whole heap of issues. Have the demo server up but I think other than that users can find their own servers.

[2021-05-29 22:29] tigerw commented on #100
the best kind!

A dedicated list of Cuberite servers could be useful in showing off readiness for real world use. But I suspect that number is (alas) small enough that the current forum post will suffice. I can't edit the post to add the demo server though.

[2021-05-30 10:34] mathiascode commented on #100
@12xx12 @tigerw You should now have permissions to edit the post. I used to update the list irregularly, but haven't had time nor interest in a while.

[2021-07-02 06:44] 12xx12 commented on #99
It is time (soon)

[2022-01-28 23:06] mathiascode opened #105 "Enable IPv6 support on cuberite.org"
IPv6 is now supported by GitHub Pages: https://github.blog/changelog/2021-09-30-enabling-ipv6-support-for-github-pages/

@bearbin

[2022-01-29 07:34] bearbin commented on #105
Done.

[2022-01-29 07:34] #105 closed

[2022-03-19 00:31] gabrielfeket opened #107 "Windows Artifact not found or access denied."
When click to download for Windows platform (any architecture) receive an error: {"message":"Artifact not found or access denied."}
from: https://ci.appveyor.com/api/projects/cuberite/cuberite/artifacts/Cuberite.zip?job=Windows-x86&pr=false&branch=master

[2022-03-19 00:37] bearbin commented on #107
I suspect this is because there hasn't been a new build for a while, so the old builds got deleted. I've run another build, can you try downloading in 1/2 an hour and see if it's fixed.

[2022-03-19 10:36] bearbin commented on #107
Closing, the above was correct. You can now download using the published links.

[2022-03-19 10:36] #107 closed

[2022-05-16 18:45] mathiascode commented on #100
Closing, as there doesn't seem to be much interest and this repository probably isn't the right location for something like this. The forum thread is up for grabs if someone has time to maintain a server list.

[2022-05-16 18:45] #100 closed

[2022-05-16 18:48] mathiascode commented on #99
The window for this has passed, but we can open a new issue if someone wants to write the next newsletter.

[2022-05-16 18:48] #99 closed